<!-- Start All Title Box -->
<div class="all-title-box">
  <div class="container">
      <div class="row">
          <div class="col-lg-12">
              <h2>Cart</h2>
              <ul class="breadcrumb">
                  <li class="breadcrumb-item"><a href="#">Confirmation</a></li>

              </ul>
          </div>
      </div>
  </div>
</div>
<!-- End All Title Box -->

<div class="cart-box-main"  >
  <div class="container">
      <div class="row">
          <div class="col-lg-12">
            <div class="title-all text-center">
              <h1>Thank you for shopping with Booktering</h1>
              <h2>Your Order with id {{order_id}} has been placed successfully</h2>
              <p>Expected delivery within 2days of ordering</p>
              <!-- <p></p>
              <div class="col-12 d-flex shopping-box"><a (click)="onMyordersClick()" class="ml-auto btn hvr-hover">MyOrders</a> </div>
              <p>Go to home page</p>
              <div class="col-12 d-flex shopping-box"><a (click)="onHomeClick()" class="ml-auto btn hvr-hover">Home</a> </div> -->
              <p>When your order will be confirmed it will appear in <a href="/myorders"><u> My Orders</u></a> section</p>
              <p>Go to <a href="/"><u>Home page</u></a></p>
            </div>
          </div>
      </div>
  </div>
</div>


