 <!--search-->
 <div class="col-xl-9 col-lg-9 col-sm-12 col-xs-12 shop-content-right">
  <mat-radio-group
  aria-labelledby="example-radio-group-label"
    class="example-radio-group"
    [(ngModel)]="column">
    <mat-radio-button class="example-radio-button" *ngFor="let col of searchcolumn" [value]="col">
      {{col}}
    </mat-radio-button>
  </mat-radio-group>
  <div>{{column}}</div>
  <div class="search-product">
    <input  class="form-control" placeholder="Search here..." type="text"  #input >
        <button (click)="onSearch1Click(input.value,column)"> <i class="fa fa-search"></i> </button>
  </div>
<button (click)="onMyBooksClick()">MyBOOKS</button>
 </div>

<!-- Start Shop Page  -->
<div class="shop-box-inner">
  <div class="container">



<div class="products-box"  >
    <div class="container" >
        <div class="row special-list" >
            <div  class="col-lg-3 col-md-6 special-grid best-seller" *ngFor="let item of obj;let i=index" >
                <div class="products-single fix" >
                    <div class="box-img-hover" >
                        <div class="type-lb" >
                            <!-- <p class="sale">Books for Bartering</p> -->
                        </div>
                        <img src="http://localhost:3000/images/bookforbarter/{{item.bookbarter_image}}" class="img-fluid" alt="Image">
                        <div class="mask-icon">
                            <ul>
                                <li><a (click)="onBookClick(item)" data-toggle="tooltip" data-placement="right" title="View"><i class="fas fa-eye"></i></a></li>

                                <li><a href="#" data-toggle="tooltip" data-placement="right" title="Add to Wishlist"><i class="far fa-heart"></i></a></li>
                            </ul>

                        </div>
                    </div>
                    <div class="why-text">
                      <div class="why-text">
                        <h4>Title:{{item.bookbarter_title}}</h4>
                        <h5>Price:{{item.bookbarter_price |currency:'INR'}}</h5>
                        <h5>Author:{{item.bookbarter_author}}</h5>
                        <h5>Customer:{{item.customer_name}}</h5>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>



