<!-- Start Slider -->
 <div id="slides-shop" class="cover-slides">
  <ul class="slides-container">
      <li class="text-center">
          <img src="assets\images\home.jpg" alt="">
          <!-- <div class="container">bookslider4.jpg
              <div class="row">
                  <div class="col-md-12">
                      <h1 class="m-b-20"><strong>Welcome To <br> Thewayshop</strong></h1>
                      <p class="m-b-40">See how your users experience your website in realtime or view <br> trends to see any changes in performance over time.</p>
                      <p><a class="btn hvr-hover" href="#">Shop New</a></p>
                  </div>
              </div>
          </div> -->
      </li>

  </ul>
 </div>
<!-- End Slider -->

<!--search-->
 <div class="col-xl-12 col-lg-12 col-sm-12 col-xs-12 shop-content-center">
  <mat-radio-group
  aria-labelledby="example-radio-group-label"
    class="example-radio-group"
    [(ngModel)]="column">
    <mat-radio-button class="example-radio-button" *ngFor="let col of searchcolumn" [value]="col">
      By-{{col}}
    </mat-radio-button>
  </mat-radio-group>
  <!-- <div>{{column}}</div> -->
  <div class="search-product">
    <input  class="form-control" placeholder="Search here..." type="text"  #input >
    <mat-icon  (click)="onClearSearchClick()" >clear</mat-icon>
    <!-- <button class="example-button-row" mat-icon-button color="primary" (click)="onClearSearchClick(input.value)" >
      <mat-icon>clear</mat-icon>
    </button> -->
    <!-- <td class="remove-pr">
      <a class="fas fa-times" (click)="onClearSearchClick(input.value)">
      </a>
  </td> -->
      <button (click)="onSearchClick(input.value,column)"> <i class="fa fa-search"></i> </button>

  </div>
 </div>

 <h2  *ngIf="temp1" style="text-align: center;"><strong>{{message}}</strong></h2>

  <div class="container" *ngIf="temp1==false" >
      <div class="row special-list" >
          <div  class="col-lg-3 col-md-6 special-grid best-seller" *ngFor="let item of obj2;let i=index" >
              <div class="products-single fix" >
                  <div class="box-img-hover" >
                      <div class="type-lb">
                          <p class="sale">Sale</p>
                      </div>
                      <img src="http://localhost:3000/images/bookForSale/{{item.book_image}}" class="img-fluid" alt="Image">
                      <div class="mask-icon">
                          <ul>
                              <li><a  (click)="onbookClick(item)"  data-toggle="tooltip" data-placement="right" title="View" ><i class="fas fa-eye"></i></a></li>
                              <li><a (click)="onAddShelf(item)" data-toggle="tooltip" data-placement="right" title="Add to Shelf"><i class="far fa-heart"></i></a></li>
                          </ul>
                          <a class="cart" (click)="onAddCart(item)">Add to Cart</a>
                      </div>
                  </div>
                  <div class="why-text">
                    <div class="why-text">
                      <h4>{{item.book_title}}</h4>
                      <h5>{{item.book_price |currency:'INR'}}</h5>
                      <h5>{{item.book_author}}</h5>
                  </div>
                  </div>
              </div>
          </div>
      </div>
  </div>



    <!-- Start Categories  -->

    <!-- <div class="categories-shop" >
        <div class="container">
          <br> -->
          <!-- <mat-label>Category</mat-label>
            <div class="row"> -->

                <!-- <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12"> -->
                    <!-- <div class="shop-cat-box" > -->

                      <!-- <button mat-button color="primary" *ngFor="let item of obj" [value]="item.category_id" (click)="onCategoryClick(item)">
                        {{item.category_name}}
                      </button> -->
                      <!-- <p >

                      </p> -->
                        <!-- <a class=" btn hvr-hover" href="#"></a> -->
                    <!-- </div> -->
                <!-- </div> -->

            <!-- </div> -->
        <!-- </div>
    </div> -->
    <!-- End Categories -->


    <div class="categories-shop" >
      <div class="container">
    <div class="categories-shop">
      <div class="container">
          <div class="row"  >
            <div class="col-lg-12">
              <div class="title-all text-center">
                  <h1>Categories</h1>
                </div>
            </div>
              <div class="col-lg-2 col-md-2 col-sm-6 col-xs-6" *ngFor="let item of obj" [value]="item.category_id" >
                  <div class="shop-cat-box">
                      <img class="img-fluid" src="http://localhost:3000/images/category/{{item.category_image}}" alt="" />
                      <a class="btn hvr-hover" (click)="onCategoryClick(item)" ></a>
                  </div>
              </div>
              <div class="col-12 d-flex shopping-box"><a (click)="onClickAllCategories()" *ngIf="flag" class="ml-auto btn hvr-hover">All Categories</a> </div>

          </div>
      </div>
    </div>
  </div>
</div>



    <!-- Start Products  -->

    <!-- End Products  -->

    <div class="col-lg-12">
      <div class="title-all text-center">
          <h1>Book for Sale</h1>
          <p>Book for sale at unbelievable price</p>
      </div>
  </div>

    <div class="products-box" >
      <div class="container" >
          <div class="row special-list" >
              <div  class="col-lg-3 col-md-6 special-grid best-seller" *ngFor="let item of obj1;let i=index" >
                  <div class="products-single fix" >
                      <div class="box-img-hover" >
                          <div class="type-lb">
                              <p class="sale">Sale</p>
                          </div>
                          <img src="http://localhost:3000/images/bookForSale/{{item.book_image}}" class="img-fluid" alt="Image">
                          <div class="mask-icon">
                              <ul>
                                  <li><a  (click)="onbookClick(item)"  data-toggle="tooltip" data-placement="right" title="View" ><i class="fas fa-eye"></i></a></li>
                                  <li><a (click)="onAddShelf(item)" data-toggle="tooltip" data-placement="right" title="Add to Shelf"><i class="far fa-heart"></i></a></li>
                              </ul>
                              <a class="cart" (click)="onAddCart(item)">Add to Cart</a>
                          </div>
                      </div>
                      <div class="why-text">
                        <div class="why-text">
                          <h4>{{item.book_title}}</h4>
                          <h5>{{item.book_price |currency:'INR'}}</h5>
                          <h5>{{item.book_author}}</h5>
                      </div>
                      </div>
                  </div>
              </div>
              <div class="col-12 d-flex shopping-box"><a (click)="onClickAllBooks()" *ngIf="flag2" class="ml-auto btn hvr-hover">Show all books</a>
              <a (click)="onClickAllBooks()" *ngIf="flag2==false" class="ml-auto btn hvr-hover">Show less</a> </div>
          </div>
      </div>
    </div>


    <!-- Start Blog  -->
    <!-- <div class="latest-blog">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="title-all text-center">
                        <h1>latest blog</h1>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sit amet lacus enim.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-lg-4 col-xl-4">
                    <div class="blog-box">
                        <div class="blog-img">
                            <img class="img-fluid" src="images/blog-img.jpg" alt="" />
                        </div>
                        <div class="blog-content">
                            <div class="title-blog">
                                <h3>Fusce in augue non nisi fringilla</h3>
                                <p>Nulla ut urna egestas, porta libero id, suscipit orci. Quisque in lectus sit amet urna dignissim feugiat. Mauris molestie egestas pharetra. Ut finibus cursus nunc sed mollis. Praesent laoreet lacinia elit id lobortis.</p>
                            </div>
                            <ul class="option-blog">
                                <li><a href="#" data-toggle="tooltip" data-placement="right" title="Likes"><i class="far fa-heart"></i></a></li>
                                <li><a href="#" data-toggle="tooltip" data-placement="right" title="Views"><i class="fas fa-eye"></i></a></li>
                                <li><a href="#" data-toggle="tooltip" data-placement="right" title="Comments"><i class="far fa-comments"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 col-xl-4">
                    <div class="blog-box">
                        <div class="blog-img">
                            <img class="img-fluid" src="images/blog-img-01.jpg" alt="" />
                        </div>
                        <div class="blog-content">
                            <div class="title-blog">
                                <h3>Fusce in augue non nisi fringilla</h3>
                                <p>Nulla ut urna egestas, porta libero id, suscipit orci. Quisque in lectus sit amet urna dignissim feugiat. Mauris molestie egestas pharetra. Ut finibus cursus nunc sed mollis. Praesent laoreet lacinia elit id lobortis.</p>
                            </div>
                            <ul class="option-blog">
                                <li><a href="#" data-toggle="tooltip" data-placement="right" title="Likes"><i class="far fa-heart"></i></a></li>
                                <li><a href="#" data-toggle="tooltip" data-placement="right" title="Views"><i class="fas fa-eye"></i></a></li>
                                <li><a href="#" data-toggle="tooltip" data-placement="right" title="Comments"><i class="far fa-comments"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 col-xl-4">
                    <div class="blog-box">
                        <div class="blog-img">
                            <img class="img-fluid" src="images/blog-img-02.jpg" alt="" />
                        </div>
                        <div class="blog-content">
                            <div class="title-blog">
                                <h3>Fusce in augue non nisi fringilla</h3>
                                <p>Nulla ut urna egestas, porta libero id, suscipit orci. Quisque in lectus sit amet urna dignissim feugiat. Mauris molestie egestas pharetra. Ut finibus cursus nunc sed mollis. Praesent laoreet lacinia elit id lobortis.</p>
                            </div>
                            <ul class="option-blog">
                                <li><a href="#" data-toggle="tooltip" data-placement="right" title="Likes"><i class="far fa-heart"></i></a></li>
                                <li><a href="#" data-toggle="tooltip" data-placement="right" title="Views"><i class="fas fa-eye"></i></a></li>
                                <li><a href="#" data-toggle="tooltip" data-placement="right" title="Comments"><i class="far fa-comments"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> -->
    <!-- End Blog  -->


