

    <!-- Start Shop Detail  -->
    <div class="shop-detail-box-main" *ngFor="let item of obj">
        <div class="container">
            <div class="row">
                <div class="col-xl-5 col-lg-5 col-md-6">
                    <div id="carousel-example-1" class="single-product-slider carousel slide" data-ride="carousel">
                        <div class="carousel-inner" role="listbox">
                             <div class="carousel-item active"> <img class="d-block w-100" src="http://localhost:3000/images/bookforbarter/{{item.bookbarter_image}}" alt="First slide"> </div>

                        </div>

                        <!-- <ol class="carousel-indicators">
                            <li data-target="#carousel-example-1" data-slide-to="0" class="active">
                                <img class="d-block w-100 img-fluid" src="http://localhost:3000/images/bookforbarter/{{item.bookbarter_image}}" alt="" />
                            </li>

                        </ol> -->
                    </div>
                </div>
                <div class="col-xl-7 col-lg-7 col-md-6">
                    <div class="single-product-details">
                        <h2>{{item.bookbarter_title}}</h2>
                        <h1>Author:{{item.bookbarter_author}}</h1>

                        <h5> {{item.bookbarter_price|currency:'INR'}}</h5>
                        <p class="available-stock"><span>{{item.bookbarter_status}}</span>
                            <p>
                                <h4>Short Description:</h4>
                                <p>{{item.bookbarter_description}}</p>
                                <h4>Customer Name:</h4>
                                <p>{{item.customer_name}}</p>
                                <h4>Contact info:</h4>
                                <p>{{item.customer_emailid}}</p>
                    </div>
                    <div class="search-product">
                      <input  class="form-control" placeholder="Give your Review" type="text"#input>
                      <button (click)="onPostClick(input.value)"> <i >POST</i> </button>
                    </div>
                </div>
                <div class="col-lg-12">
                  <div class="title-all text-center">
                      <h2><strong>Book Reviews</strong></h2>
                      <p></p>
                  </div>
              </div>
              <div class="col-lg-12">
                <div class="title-all text-center">
                    <h2><strong>My Reviews</strong></h2>
                    <p></p>
                </div>
            </div>
              <div class="col-sm-6 col-lg-10" *ngFor="let item of obj2">
                <div class="service-block-inner">
                    <h4><strong>{{item.customer_name}}</strong></h4>
                    <p>{{item.bookreview_date|date:"MM/dd/yy"}}-{{item.bookreview_description}}
                    <button mat-icon-button color="primary" (click)="onEditBookreview(item.bookreview_id)" >
                     <mat-icon >edit</mat-icon>
                        </button>
                    <button  mat-icon-button color="primary" (click)="onDeleteBookreview(item)" >
                      <mat-icon >clear</mat-icon>
                            </button>
                          </p>
                          <form  [formGroup]="bookreviewadd" (ngSubmit)="onPostClick1()">
                          <div class="search-product" *ngIf="flag">
                            <input  class="form-control" placeholder="Edit your Review" type="text" formControlName="bookreview_description">
                            <button type="submit" > <i >POST</i> </button>
                          </div>
                        </form>
                  </div>
                </div>
                <div class="col-lg-12">
                  <div class="title-all text-center">
                      <h2><strong>Other Reviews</strong></h2>
                      <p></p>
                  </div>
              </div>

                    <div class="col-sm-6 col-lg-10" *ngFor="let item of obj1">
                        <div class="service-block-inner">
                            <h4><strong>{{item.customer_name}}</strong></h4>
                            <p>{{item.bookreview_date|date:"MM/dd/yy"}}-{{item.bookreview_description}}</p>

                        </div>
                    </div>
            </div>
