<!-- Start All Title Box -->
<div class="all-title-box">
  <div class="container">
      <div class="row">
          <div class="col-lg-12">
              <h2>ABOUT US</h2>
              <ul class="breadcrumb">
                  <li class="breadcrumb-item"><a href="#">Home</a></li>
                  <li class="breadcrumb-item active">ABOUT US</li>
              </ul>
          </div>
      </div>
  </div>
</div>
<!-- End All Title Box -->

<!-- Start About Page  -->
<div class="about-box-main">
  <div class="container">
      <div class="row">
          <div class="col-lg-6">
              <h2 class="noo-sh-title">We are <span>BOOKTERING</span></h2>
              <p>The company was established in 1985 and with 25 years of experience SHREE MAHAVIR STATIONERY MART prides itself on the continual development of office supplies to ensure that changing customer requirements are continually satisfied.In this age of rising energy costs, environmental concerns, resource efficiency is a key principle we live by, Our entire supply team is fully efficient to cater your all your needs. The company is well equipped with vast range of office stationery articles.</p>

          </div>
          <div class="col-lg-6">
              <div class="banner-frame"> <img class="img-thumbnail img-fluid" src="assets/images/aboutus1.jpg" alt="" />
              </div>
          </div>
      </div>
      <div class="row my-5">
          <div class="col-sm-6 col-lg-4">
              <div class="service-block-inner">
                  <h3>We are Trusted</h3>
                  <p>We are a Trusted Brand serving our customers for more than 25 years of experience.</p>
              </div>
          </div>
          <div class="col-sm-6 col-lg-4">
              <div class="service-block-inner">
                  <h3>Our Mission</h3>
                  <p>Our main mission is to satisfy our customers at any cost. Our product services are best suitable for Industrial, Automotive, Electronic, Hospital, Engineering and corporate Offices. </p>
              </div>
          </div>
          <div class="col-sm-6 col-lg-4">
              <div class="service-block-inner">
                  <h3>Our Vision</h3>
                  <p>Enhance value of our products, services, relationships, information and, trust to create ultimate customer experience. Consolidate on our core competencies and develop new competencies.
                    Explore new areas of business.
                    Meet holistically the expectations of our customers, partners and employees and develop long-lasting relationship, goodwill and uniqueness with them. </p>
              </div>
          </div>
      </div>
</div>
</div>
