<!-- Start All Title Box -->
<div class="all-title-box">
  <div class="container">
      <div class="row">
          <div class="col-lg-12">
              <h2>Cart</h2>
              <ul class="breadcrumb">
                  <li class="breadcrumb-item"><a href="#">Shop</a></li>
                  <li class="breadcrumb-item active">Cart</li>
              </ul>
          </div>
      </div>
  </div>
</div>
<!-- End All Title Box -->
<!-- Start Cart  -->
<div class="cart-box-main">
  <div class="container">
      <div class="row">
          <div class="col-lg-12">
              <div class="table-main table-responsive">

                  <table class="table">
                      <thead>
                          <tr>
                              <th>Images</th>
                              <th>Product Name</th>
                              <th>Price</th>
                              <th>Quantity</th>
                              <th>Total</th>
                              <th>Remove</th>
                          </tr>
                      </thead>
                      <tbody>
                          <tr *ngFor="let item of obj;let i=index">
                              <td class="thumbnail-img">
                                  <a href="#">
                                    <img class="img-fluid" src="http://localhost:3000/images/bookForSale/{{item.book_image}}" alt="" />
                                  </a>
                              </td>
                              <td class="name-pr">
                                  <a href="#">{{item.book_title}}</a>
                              </td>
                              <td class="price-pr">
                                  <p>{{item.book_price| currency:'INR'}}</p>
                              </td>
                                <td>
                                  <select (change)="onSelectionChange(item,i)" [(ngModel)]="item.shelfcart_quantity">
                                    <option *ngFor="let x of qty">{{x}}</option>
                                  </select>
                                </td>
                              <!-- <td class="quantity-box">
                                <input  [value]="item.shelfcart_quantity" type="number" size="4"  min="1" step="1" class="c-input-text qty text"></td>
                               -->
                              <td class="total-pr">

                                  <p>{{item.book_price*item.shelfcart_quantity|currency:'INR'}}</p>

                              </td>
                              <td class="remove-pr">
                                  <button (click)="onRemoveClick(item,item.shelfcart_id)">
                                    <i class="fas fa-times"></i>
                                  </button>
                              </td>
                          </tr>
                      </tbody>
                  </table>


              </div>
          </div>
      </div>

      <!-- <div class="row my-5">
          <div class="col-lg-6 col-sm-6">
              <div class="coupon-box">
                  <div class="input-group input-group-sm">
                      <input class="form-control" placeholder="Enter your coupon code" aria-label="Coupon code" type="text">
                      <div class="input-group-append">
                          <button class="btn btn-theme" type="button">Apply Coupon</button>
                      </div>
                  </div>
              </div>
          </div>

      </div> -->


          <div class="col-12 d-flex shopping-box"><a (click)="onCheckoutClick()" class="ml-auto btn hvr-hover">Checkout</a> </div>
      </div>

  </div>

<!-- End Cart -->

<!-- Start All Title Box -->


<!-- Start Cart  -->
<div class="cart-box-main" *ngIf="flag">
  <div class="container">


      <div class="row">
          <div class="col-sm-6 col-lg-6 mb-3">
              <div class="checkout-address">
                  <div class="title-left">
                      <h3>Billing address</h3>
                  </div>
                  <form class="needs-validation" [formGroup]="billingaddress" (ngSubmit)="onaddaddress()" novalidate>
                      <div class="row">
                          <div class="col-md-10 mb-10">
                              <label for="firstName">Full name *</label>
                              <input type="text" class="form-control" id="firstName" placeholder="" formControlName="name" disabled>
                              <div class="invalid-feedback"> Valid first name is required. </div>
                          </div>
                          <!-- <div class="col-md-6 mb-3">
                              <label for="lastName">Last name *</label>
                              <input type="text" class="form-control" id="lastName" placeholder="" value="" required>
                              <div class="invalid-feedback"> Valid last name is required. </div>
                          </div> -->
                      </div>
                      <!-- <div class="mb-3">
                          <label for="username">Username *</label>
                          <div class="input-group">
                              <input type="text" class="form-control" id="username" placeholder="" required>
                              <div class="invalid-feedback" style="width: 100%;"> Your username is required. </div>
                          </div>
                      </div> -->
                      <div class="mb-3">
                          <label for="email">Email Address *</label>
                          <input type="email" class="form-control" id="email" placeholder="" formControlName="emailid" disabled>
                          <div class="invalid-feedback"> Please enter a valid email address for shipping updates. </div>
                      </div>
                      <div class="mb-3">
                          <label for="address">Address 1 *</label>
                          <input type="text" class="form-control" id="address" placeholder="" formControlName="address1" required>
                          <div class="invalid-feedback"> Please enter your shipping address. </div>
                      </div>
                      <div class="mb-3">
                          <label for="address2">Address 2 *</label>
                          <input type="text" class="form-control" id="address2" placeholder="" formControlName="address1"> </div>
                      <div class="row">
                          <div class="col-md-5 mb-3">
                              <label for="country">City *</label>
                              <select class="wide w-100" id="country" formControlName="city">
                                <option value="Choose..." data-display="Select">Choose...</option>
                                 <option *ngFor="let item of city" [value]="item">{{item}}</option>
                              </select>
                           <div class="invalid-feedback"> Please select a valid country. </div>
                          </div>
                          <div class="col-md-4 mb-3">
                              <label for="state">State *</label>
                              <select class="wide w-100" id="state" formControlName="state">
                               <option data-display="Select">Choose...</option>
                               <option>Gujarat</option>
                              </select>
                              <div class="invalid-feedback"> Please provide a valid state. </div>
                          </div>
                          <div class="col-md-3 mb-3">
                              <label for="zip">Pin Code *</label>
                              <input type="text" class="form-control" id="zip" placeholder="" formControlName="pincode" required>
                              <div class="invalid-feedback"> Zip code required. </div>
                          </div>
                          <!-- <div class="col-md-4 mb-3">
                            <label for="state">Address type *</label>
                            <select class="wide w-100" id="state" formControlName="addtype">
                             <option data-display="Select">Choose...</option>
                             <option>Home</option>
                            </select>
                            <div class="invalid-feedback"> Please provide a valid type. </div>
                        </div> -->
                        <div>
                          <label for="state">Address type *</label>
                          <mat-radio-group formControlName="addtype" class="example-full-width">
                            <br>
                            <mat-radio-button value="Home">Home</mat-radio-button>
                            <mat-radio-button value="Office">Office</mat-radio-button>
                            <mat-radio-button value="Other">Other</mat-radio-button>
                          </mat-radio-group>
                        </div>
                        <div class="col-12 d-flex shopping-box"> <button type="submit" class="ml-auto btn hvr-hover">Add address</button> </div>
                      </div>
                  </form>
                      <hr class="mb-4">
                      <div class="custom-control custom-checkbox">
                          <input type="checkbox" class="custom-control-input" id="same-address">
                          <label class="custom-control-label" for="same-address">Shipping address is the same as my billing address</label>
                      </div>
                      <div class="custom-control custom-checkbox">
                          <input type="checkbox" class="custom-control-input" id="save-info">
                          <label class="custom-control-label" for="save-info">Save this information for next time</label>
                      </div>
                      <hr class="mb-4">
                </div>
                <div class="title" >
                  <span>Payment</span> </div>
                          <div class="d-block my-3">
                              <!-- <div class="custom-control custom-radio">
                                  <input id="credit" name="paymentMethod" type="radio" class="custom-control-input" checked required>
                                  <label class="custom-control-label" for="credit">Cash On Delivery</label>
                              </div>
                              <div class="custom-control custom-radio">
                                  <input id="debit" name="paymentMethod" type="radio" class="custom-control-input" required>
                                  <label class="custom-control-label" for="debit">Gpay</label>
                              </div> -->
                              <mat-radio-group class="example-radio-group" [(ngModel)]="paymenttype">
                                  <mat-radio-button  class="example-radio-button" value="COD">Cash On Delivery</mat-radio-button>
                                  <mat-radio-button  class="example-radio-button" value="Gpay">Gpay</mat-radio-button>
                              </mat-radio-group>


                          </div>


                          <div class="demo">
                            <google-pay-button environment="TEST" [buttonColor]="buttonColor" [buttonType]="buttonType"
                              [buttonSizeMode]="isCustomSize ? 'fill' : 'static'" [paymentRequest]="paymentRequest" [style.width.px]="buttonWidth"
                              [style.height.px]="buttonHeight" (loadpaymentdata)="onLoadPaymentData($event)"></google-pay-button>
                          </div>

                          <div class="note" [style.display]="isTop ? 'none' : ''">
                            <p>
                              Note: This page may need to open in a new window for it to function
                              correctly.
                            </p>
                            <p><a href="/" target="_blank">Open in new window</a>.</p>
                          </div>

          </div>
          <div class="col-sm-6 col-lg-6 mb-3">
              <div class="row">
                  <div class="col-md-12 col-lg-12">
                      <div class="shipping-method-box">
                          <div class="title-left">
                              <h3>Shipping Method</h3>
                          </div>
                          <div class="mb-4">
                              <div class="custom-control custom-radio">
                                  <input id="shippingOption1" name="shipping-option" class="custom-control-input" checked="checked" type="radio">
                                  <label class="custom-control-label" for="shippingOption1">Standard Delivery</label> <span class="float-right font-weight-bold">FREE</span> </div>
                              <div class="ml-4 mb-2 small">(3-7 business days)</div>

                          </div>
                      </div>
                  </div>
                  <div class="col-md-12 col-lg-12">
                      <div class="odr-box">
                          <div class="title-left">
                              <h3>Shopping cart</h3>
                          </div>
                          <div class="rounded p-2 bg-light" *ngFor="let item of obj">
                              <div class="media mb-2 border-bottom">
                                  <div class="media-body" >
                                    <a href="detail.html">{{item.book_title}}</a>
                                      <div class="small text-muted">{{item.book_price |currency:"INR"}} <span class="mx-2">|</span> {{item.shelfcart_quantity}} <span class="mx-2">|</span>{{item.book_price*item.shelfcart_quantity |currency:"INR"}}</div>
                                  </div>
                              </div>

                          </div>
                      </div>
                  </div>
                  <div class="col-md-12 col-lg-12">
                      <div class="order-box">
                          <div class="title-left">
                              <h3>Your order</h3>
                          </div>
                          <div class="d-flex">
                              <div class="font-weight-bold">Product</div>
                              <div class="ml-auto font-weight-bold">Total</div>
                          </div>
                          <hr class="my-1">
                          <div class="d-flex">
                              <h4>Sub Total</h4>
                              <div class="ml-auto font-weight-bold"> {{total|currency:"INR"}}</div>
                          </div>


                          <div class="d-flex">
                              <h4>Shipping Cost</h4>
                              <div class="ml-auto font-weight-bold"> Free </div>
                          </div>
                          <hr>
                          <div class="d-flex gr-total">
                              <h5>Grand Total</h5>
                              <div class="ml-auto h5"> {{total|currency:"INR"}} </div>
                          </div>
                          <hr> </div>
                  </div>

                  <div class="col-12 d-flex shopping-box"> <a (click)="onPlaceOrderClick()" class="ml-auto btn hvr-hover">Place Order</a> </div>
              </div>
          </div>
      </div>

  </div>
</div>
<!-- End Cart -->







