<!-- Start Shop Page  -->
<div class="shop-box-inner">
  <div class="container">
    <div class="row">
        <div class="col-xl-3 col-lg-3 col-sm-12 col-xs-12 sidebar-shop-left">
              <div class="product-categori">
                  <div class="filter-sidebar-left">
                      <div class="title-left">
                          <h3>Categories</h3>
                      </div>
                      <div class="list-group list-group-collapse list-group-sm list-group-tree" *ngFor="let item of cat" [value]="item.category_id">
                              <a class="list-group-item list-group-item-action" (click)="onCategoryClick(item)" >{{item.category_name}} </a>

                      </div>
                  </div>
              </div>
          </div>





          <!--search-->
          <div class="col-xl-9 col-lg-9 col-sm-12 col-xs-12 shop-content-right">
            <mat-radio-group
              aria-labelledby="example-radio-group-label"
              class="example-radio-group"
              [(ngModel)]="column">
              <mat-radio-button  class="example-radio-button" *ngFor="let col of searchcolumn" [value]="col" >
                By-{{col}}
              </mat-radio-button>
            </mat-radio-group>
            <!-- <div>{{column}}</div> -->
            <div class="search-product">

                  <input  class="form-control" placeholder="Search here..." type="text"  #input >
                  <mat-icon (click)="onClearSearchClick(input.value)" >clear</mat-icon>
                  <button (click)="onSearchClick(input.value,column)"> <i class="fa fa-search"></i> </button>

          </div>


          <div class="col-lg-12">
            <div class="title-all text-center">
                <h1>Book for Sale</h1>
                <p>Book for sale at unbelievable price</p>
            </div>
          </div>
          <br><br>
          <h2 *ngIf="obj.length==0" style="text-align: center;"><strong> Currently There are no Books in this category</strong></h2>
          <h2 *ngIf="flag" style="text-align: center;"><strong>{{message}}</strong></h2>

<div class="products-box"*ngIf="flag==false" >
  <div class="container" >
      <div class="row special-list" >
          <div  class="col-lg-3 col-md-6 special-grid best-seller" *ngFor="let item of obj;let i=index" >
              <div class="products-single fix" >
                  <div class="box-img-hover" >
                      <div class="type-lb">
                          <p class="sale">Sale</p>
                      </div>
                      <img src="http://localhost:3000/images/bookForSale/{{item.book_image}}" class="img-fluid" alt="Image">
                      <div class="mask-icon">
                          <ul>
                              <li><a  (click)="onbookClick(item)"  data-toggle="tooltip" data-placement="right" title="View" ><i class="fas fa-eye"></i></a></li>
                              <li><a (click)="onAddShelf(item)" data-toggle="tooltip" data-placement="right" title="Add to Shelf"><i class="far fa-heart"></i></a></li>
                          </ul>
                          <a class="cart" (click)="onAddCart(item)">Add to Cart</a>
                      </div>
                  </div>
                  <div class="why-text">
                    <div class="why-text">
                      <h4>{{item.book_title}}</h4>
                      <h5>{{item.book_price |currency:'INR'}}</h5>
                      <h5>{{item.book_author}}</h5>
                  </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
