
    <!-- Start Shop Detail  -->
    <div class="shop-detail-box-main" *ngFor="let item of obj;let i=index">
      <div class="container">
          <div class="row">
              <div class="col-xl-5 col-lg-5 col-md-6">
                  <div id="carousel-example-1" class="single-product-slider carousel slide" data-ride="carousel">
                      <div class="carousel-inner" role="listbox">
                           <div class="carousel-item active"> <img class="d-block w-100" src="http://localhost:3000/images/bookForSale/{{item.book_image}}" alt="First slide"> </div>

                      </div>


                  </div>
              </div>
              <div class="col-xl-7 col-lg-7 col-md-6">
                  <div class="single-product-details">
                      <h2>{{item.book_title}}</h2>
                      <h1>Author:{{item.book_author}}</h1>

                      <h5> {{item.book_price|currency:'INR'}}</h5>
                      <h6>Status:{{item.book_status}}</h6>
                      <h6><strong>Category: {{item.category_name}}</strong></h6>
                      <p class="available-stock">
                          <p>
                              <h4>Short Description:</h4>
                              <p>{{item.book_description}}

                              </p>
                              <ul>

                                  <li>
                                      <div class="form-group quantity-box">
                                          <label class="control-label">Quantity</label>
                                          <input class="form-control" value="0" min="0" max="20" type="number" #input>
                                      </div>
                                  </li>
                              </ul>



                              <div class="add-to-btn">
                                  <div class="add-comp">
                                      <a (click)="onAddCart(item,input.value)" class="btn hvr-hover" data-fancybox-close="" >Add to cart</a>
                                      <a class="btn hvr-hover" (click)="onAddShelf(item)"><i class="fas fa-heart"></i> Add to Shelf</a>

                                  </div>
                                  <div class="share-bar">
                                      <a class="btn hvr-hover" href="#"><i class="fab fa-facebook" aria-hidden="true"></i></a>
                                      <a class="btn hvr-hover" href="#"><i class="fab fa-google-plus" aria-hidden="true"></i></a>
                                      <a class="btn hvr-hover" href="#"><i class="fab fa-twitter" aria-hidden="true"></i></a>
                                      <a class="btn hvr-hover" href="#"><i class="fab fa-pinterest-p" aria-hidden="true"></i></a>
                                      <a class="btn hvr-hover" href="#"><i class="fab fa-whatsapp" aria-hidden="true"></i></a>
                                  </div>
                              </div>
                  </div>
              </div>
          </div>
